.imgContainer{
    position: relative;
    width: 240px;
    height: 280px;
}

.products{
    background-color: white;
    margin: 0 0 15% 0;
    border-radius: 6px;
    padding: 7% 7%;
    font-family: 'Satoshi';
    font-style: normal;
}

.mobileFlex{
    display: block;
}

.name{
    font-weight: 400;
    font-size: 22px;
    line-height: 157.6%;
    color: #333333;
    margin: 0 0 0 0;
}

.price{ 
font-weight: 700;
font-size: 28px;
line-height: 157.6%;
color: #333333;
margin: 3% 0 0 0;
}

/* mobile design for the product component */
@media only screen and (max-width: 1000px) {
    .imgContainer{
        width: 100%;
        margin: 0 auto;
        height: 310px;
    }

    .products{
    background-color: none;
    padding: 0 0;
    }

    .mobileFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .name{
        font-size: 16px;
        margin: 3% 0 0 0;
    }

    .price{
        font-size: 16px;
        font-weight: 700;
    }
    
}