@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

.topHeader{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 156.7%;
    text-align: center;
    color: #292929;
    padding: 0 10%;
}

.subTopHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 156.7%;
    text-align: center;
    color: #292929;
    padding: 0 20%;
    margin: 2% 0 0 0;
}

.featuredProductHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    color: #333333;
    margin: 5% 0 2% 0;
    padding: 0 10%;
}

.productContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    border-top: 0.1px solid #333333;
}

.productImage{
    width: 610px;
    position: relative;
    height: 305px;
}

.egyptContainer{
    color: #333333;
    font-style: normal;
}

.egyptianHeader{
    font-family: 'STIX Two Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.loremImsum{
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 5% 0 0 0;
}

.creators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 0 0;
}

.creatorImg{
    margin: 0 0 0 -10%
}

.major{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    padding: 0 15% 0 0;

}

.imgContainer{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #333333;
    /* padding: 0 auto; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -2% 0 0 0;
}

.arrow{
   transform: translateY(90%);
}

.auction{
    /* width: 100%; */
    height: 780px;
    padding: 2% 10% 0 10%;
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.auctionHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 54px;
    color: #FFFFFF;
    position: relative;
}

.auctionHeader::after{
    content: '';
    background-color: #FFFFFF;
    height: 2px;
    width: 590px;
    position: absolute;
    bottom: -1%;
    left: 2%;
}

.upcoming{
    background-image: url('/upcoming.png');
    height: 546px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2% 0;
    position: relative;
    /* max-width: 1200px; */
}

.subContainer{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

.redefined{
    position: relative;
    width: 353px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 100;
    font-size: 29.2313px;
    line-height: 33px;
}

.redefined::after{
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: -7%;
}

.monday{
    margin: 3% 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.46px;
    line-height: 20px;
    position: relative;
}

.monday::after{
    content: "01";
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 67.6122px;
    line-height: 77px;
    color: #E1E1E1;
    position: absolute;
    top: -120%;
    left: -10%;
}

.exclusive{
    width: 628px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-size: 15.8576px;
    line-height: 21px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin: 4% 0 0 0;
}


.seemore{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 0 -5% 0;
    position: absolute;
    bottom: 22%;
    right: 22%;
    text-decoration: underline;
}

.reminder{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 62px;
    background: transparent;
    width: 181px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    bottom: 8%;
    right: 5%;
}

.loader_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0 0 0;
}

.loader{
    width: 295.69px;
    height: 10px;
    background: #AEAEAE;
    border-radius: 50px;
    position: relative;
}

.loader::after{
    content: '';
    position: absolute;
    width: 47.52px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 50px;
    top: 0;
    left: 0;
}

.btnContainer{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -1.5% 0 0 2%;
}

.btnContainer button{
    width: 60.71px;
    height: 60.71px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.77035px);
    border-radius: 50%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.explore_auctions{
    padding: 10% 0 10% 0;
}

.explore{
    border-top: 0.5px solid #333333;
    padding: 3% 20% 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.explore:nth-child(2){
    border-bottom: 0.5px solid #333333;
}

.explore span{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

.containerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creatorContainer{
    /* width: 100%; */
    height: 922px;
    background: #E2E2E2;
    padding: 5% 10% 0 10%;
    position: relative;
}

.creatorHeader{
    width: 535px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 155.5%;
    color: #161616;
}

.editorialContainer{
    display: flex;
    flex-direction: row;
}

.editorialLine{
    width: 10px;
    height: 295px;
    background: #AEAEAE;
    border-radius: 50px;
    position: relative;
}

.editorialLine::after{
    content: '';
    width: 10px;
    height: 47px;
    background: #292929;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.editorialContainer ul{
    list-style: none;
}

.editorialContainer ul li{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 155.5%;
    color: #333333;
    margin: 0 0 8% 0;
}

.creatorNote{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.57);
    width: 1148px;
    position: relative;
}

.circa{
    position: absolute;
    right: 9%;
    bottom: 22%;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #242424;
}

.date{
    width: 100%;
    text-align: right; 
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 155.5%;
    text-decoration-line: line-through;
    color: #161616;
}

.circaImg{
    position: absolute;
    top: 15%;
    right: 17%;
    z-index: 200;
    opacity: 1;
    transition: all 3s ease-in-out;
}

.imgTrans{
     position: absolute;
    top: 15%;
    right: 17%;
    z-index: 200;
    opacity: 0;
    transition: all 3s ease-in-out;
}

.newsletter{
    border: 1px solid #333333;
    height: 300px;
    width: 90%;
    margin: 10% auto 3% auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.letterHeader{
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 1% 0;
}

.subscribe{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #333333;
}

.formContainer{
    margin: 2% 0 0 0;
}

.formContainer input{
    width: 446px;
    height: 60px;
    border: 1px solid #333333;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    padding: 0 0 0 5%;
    outline: none;
}

.formContainer button{
    width: 180px;
    height: 60px;
    background: #272727;
    border: 1px solid #333333;
    margin: 0 0 0 2%;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.formContainer button:hover{
    background-color: black;
}