@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

.topHeader{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 156.7%;
    text-align: center;
    color: #292929;
    padding: 0 10%;
}

.subTopHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 156.7%;
    text-align: center;
    color: #292929;
    padding: 0 20%;
    margin: 2% 0 0 0;
}

.slideContainer{
    margin: 5% 0 0 0;
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slideContainerMobile{
    display: none;
}


.slideContainer::-webkit-scrollbar{
   display: none;
}

.slideImg1, .slideImg2, .slideImg3, .slideImg4, .slideImg5{
    min-width: 358px;
    height: 445px;
    position: relative;
    margin: 0 3% 0 0;
}

.slideImg1{
    min-width: 358px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .slideImg1::-webkit-scrollbar{
   display: none;
}

.testingImg{
    min-width: 358px;
    height: 445px;
    margin: 0 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease 2s;
}

.testingImg:last-child{
    margin: 0 0 0 0;
}

.displayImg{
    min-width: 358px;
    height: 445px;
    margin: 0 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: ease 1000ms;
}

.featuredProductHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    color: #333333;
    margin: 5% 0 2% 0;
    padding: 0 10%;
}

.productContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    border-top: 0.1px solid #333333;
}

.productImage, .productImageRight{
    width: 1600px;
    position: relative;
    height: 305px;
    display: block;
    background-color: black;
}

.opacityContainer{
    opacity: 0;
}

.productImage:hover  .prodImg{
    opacity: 0.5;
}

.productImage:hover .opacityContainer{
    opacity: 1;
}

.productImageRight:hover .prodImg{
    opacity: 0.5;
}

.productImageRight:hover .opacityContainer{
    opacity: 1;
}

.whiteArrowContainer{
    width: 78px;
    height: 78px;
    border: 0.2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whiteArrow{
    width: 46px;
    height: 26px;
    position: relative;
}



.productImageText{
    position: absolute;
    top: 15%;
    left: 0;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 37px;
    color: white;
    text-align: center;
    width: 100%;
}

.productImageMobile{
    display: none;
}

.prodImg{
    opacity: 1;
}

.egyptContainer{
    color: #333333;
    font-style: normal;
    padding: 0 3% 0 3%;
}

.egyptianHeader{
    font-family: 'STIX Two Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: block;
}

.loremImsum{
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 5% 0 0 0;
}

.creators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 0 0;
}

.creatorImgContainer{
    width: 32%;
    display: flex;
}

.creatorPic1, .creatorPic{
    width: 51px;
    height: 51px;
    position: relative;
}

.creatorPic{
    margin: 0 0 0 -10%;
}

.major{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    padding: 0 15% 0 0;

}

.imgContainer{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #333333;
    /* padding: 0 auto; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -2% 0 0 0;
}

.arrow{
   transform: translateY(90%);
}

.auction{
    /* width: 100%; */
    height: 780px;
    padding: 2% 10% 0 10%;
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.auctionHeader{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 54px;
    color: #FFFFFF;
    position: relative;
    display: block;
}

.auctionHeader::after{
    content: '';
    background-color: #FFFFFF;
    height: 2px;
    width: 590px;
    position: absolute;
    bottom: -1%;
    left: 2%;
}

.upcoming{
    background-image: url('/upcoming.png');
    height: 546px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2% 0;
    position: relative;
    /* max-width: 1200px; */
}

.subContainer{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
}

.redefined{
    position: relative;
    width: 353px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 100;
    font-size: 29.2313px;
    line-height: 33px;
    padding: 0 0 0 0;
}

.redefined::after{
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: -7%;
}

.monday{
    margin: 3% 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    padding: 0 0 0 0;
}

.monday::after{
    content: "01";
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 67.6122px;
    line-height: 77px;
    color: #E1E1E1;
    position: absolute;
    top: -120%;
    left: -10%;
}

.exclusive{
    width: 628px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-size: 15.8576px;
    line-height: 21px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin: 4% 0 0 0;
    padding: 0 0 0 0;
}


.seemore{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 0 -5% 0;
    position: absolute;
    bottom: 22%;
    right: 22%;
    text-decoration: underline;
}

.reminder{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 62px;
    background: transparent;
    width: 181px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    bottom: 8%;
    right: 5%;
}

.loader_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0 0 0;
}

.loader{
    width: 295.69px;
    height: 10px;
    background: #AEAEAE;
    border-radius: 50px;
    position: relative;
}

.loader::after{
    content: '';
    position: absolute;
    width: 47.52px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 50px;
    top: 0;
    left: 0;
}

.btnContainer{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -1.5% 0 0 2%;
}

.btnContainer button{
    width: 60.71px;
    height: 60.71px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.77035px);
    border-radius: 50%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.explore_auctions{
    padding: 10% 0 10% 0;
}

.explore{
    border-top: 0.5px solid #333333;
    padding: 3% 20% 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.explore:nth-child(2){
    border-bottom: 0.5px solid #333333;
}

.explore span{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
    color: #333333;
}

.blueArrow{
    width: 70px;
    height: 60px;
    position: relative;
}

.containerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creatorContainer{
    height: 852px;
    background: #E2E2E2;
    padding: 5% 10% 0 10%;
    position: relative;
    margin: 0 0 0 0;
}

.creatorHeader{
    width: 535px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 155.5%;
    color: #161616;
}

.editorialContainer{
    display: flex;
    flex-direction: row;
}

.editorialLine{
    width: 10px;
    height: 295px;
    background: #AEAEAE;
    border-radius: 50px;
    position: relative;
}

.editorialLine::after{
    content: '';
    width: 10px;
    height: 47px;
    background: #292929;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.editorialContainer ul{
    list-style: none;
}

.editorialContainer ul li{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 155.5%;
    color: #333333;
    margin: 0 0 8% 0;
}

.creatorNote{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.57);
    width: 1148px;
    position: relative;
}

.circa{
    position: absolute;
    right: 9%;
    bottom: 22%;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #242424;
}

.date{
    width: 100%;
    text-align: right; 
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 155.5%;
    text-decoration-line: line-through;
    color: #161616;
}

.circaImg{
    position: absolute;
    top: 15%;
    right: 17%;
    z-index: 200;
    opacity: 1;
    transition: all 3s ease-in-out;
    width: 826px;
    height: 835px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
}

.imgTrans{
     position: absolute;
    top: 15%;
    right: 17%;
    z-index: 200;
    opacity: 0;
    transition: all 3s ease-in-out;
     width: 826px;
    height: 835px;
}

.newsletter{
    border: 1px solid #333333;
    height: 300px;
    width: 90%;
    margin: 10% auto 3% auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.letterHeader{
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 1% 0;
}

.subscribe{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #333333;
}

.formContainer{
    margin: 2% 0 0 0;
}

.formContainer input{
    width: 446px;
    height: 60px;
    border: 1px solid #333333;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    padding: 0 0 0 5%;
    outline: none;
}

.formContainer button{
    width: 180px;
    height: 60px;
    background: #272727;
    border: 1px solid #333333;
    margin: 0 0 0 2%;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.formContainer button:hover{
    background-color: black;
}

 /* //////////////////////////mobile design//////////////////// */
    @media only screen and (max-width: 1000px) {
        .topHeader{
            font-size: 32px;
            font-weight: 500;
            padding: 0 2%;
        }

        .subTopHeader{
            font-size: 16px;
            padding: 0 2%;
        }

        .slideContainer{
            display: none;
        }
        
        .slideContainerMobile{
            display: block;
            width: 100%;
            margin: 5% 0 0 0;
        }

        .slideImg1{
            min-width: 100%;
            overflow-x: scroll;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .displayImg{
        min-width: 100%;
        height: 400px;
        margin: 0 0 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        transition: ease 1000ms;
        }


        .featuredProductHeader{
            font-size: 28px;
             padding: 0 2%;
        }

        .productContainer{
            display: block;
            width: 96%;
            margin: 5% auto;
        }

        .productImage{
            width: 100%;
        }

        .opacityContainer{
            opacity: 1;
        }

        .productImageRight{
            display: none;
        }

        .prodImg{
            opacity: 0.5;
        }

        .productImageText{
            position: absolute;
            top: 15%;
            left: 0;
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 37px;
            color: #FFFFFF;
            opacity: 1;
            text-align: center;
            width: 100%;
        }

        

        .creatorNote{
            width: 100%;
        }

        .egyptianHeader{
            display: none;
        }

        .productImageMobile{
            width: 100%;
            height: 305px;
            position: relative;
            margin: 0 0 0 0;
            display: block;
            background-color: black;
        }

        .egyptContainer{
            padding: 0 0 0 0;
        }

        .loremImsum{
            font-size: 15px;
            line-height: 155%;
        }

        .creators{
            justify-content: left;
        }

        .creatorImgContainer{
            width: 40%;
        }

        .creatorPic1, .creatorPic{
            width: 41px;
            height: 41px;
            position: relative;
        }

        .major{
            font-size: 17px;
            width: 50%;
            padding: 0 0 0 5%;
        }

        .imgContainer{
            display: none;
        }

        .auction{
            min-width: 90%;
            height: 100%;
            padding: 5% 5% 5% 5%;

        }

        .auctionHeader{
            display: none;
        }

        .upcoming{
            min-width: 100%;
            height: 269px;
        }

        .subContainer{
            bottom: 30%;
            left: 10%;
        }

        .redefined{
            width: 95%;
            padding: 0 0 0 5%;
            font-size: 22px;
            line-height: 23px;
        }

        .monday{
            font-size: 12px;
            padding: 0 0 0 5%;
        }

        .monday::after{
            font-size: 40px;
        }

        .exclusive{
            width: 95%;
            font-size: 10px;
            line-height: 16px;
            padding: 0 0 0 5%;
        }

        .seemore{
            font-size: 17px;
            bottom: 14%;
            right: 50%;
        }

        .reminder{
            width: 102px;
            height: 36px;
            font-size: 14px;
        }

        .loader_btn{
            display: none;
        }

        .explore{
            padding: 3% 2% 3% 5%;
        }

        .explore span{
            font-size: 24px;
            line-height: 34px;
        }

        .blueArrow{
            width: 30px;
            height: 30px;
        }

        .creatorContainer{
            height: 370px;
            width: 90%;
            padding: 5% 5% 0 5%;
            margin: 0 0 20% 0;
        }

        .creatorHeader{
            width: 264px;
            font-size: 24px;
        }

        .editorialLine{
            width: 20px;
            height: 100px;
            background: #AEAEAE;;
        }

        .editorialLine::after{
            width: 5px;
            height: 37px;
        }

        .editorialContainer ul{
            font-size: 12px;
            padding: 0 0 0 20%;
        }

        .editorialContainer ul li{
            font-size: 12px;
        }

        .creatorNote{
            width: 100%;
            line-height: 20px;
            font-size: 13px;
            text-align: center;
        }

        .circa{
            right: 0;
            font-size: 32px;
        }

        .date{
            font-size: 64px;
        }

        .circaImg{
            height: 240px;
            width: 237px;
            top: 43%;
        }

        .imgTrans{
             height: 240px;
            width: 237px;
            top: 43%;
        }

    }



