.methodFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-family: 'Satoshi';
    font-style: normal;
}

.paymentMethod{
    font-weight: 500;
    font-size: 22px;
    color: #292929;
    display: block;
}

.secureFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10.5%;
}

.secure{
    font-weight: 400;
    font-size: 17px;
    color: #747474;
    padding: 0 0 0 5%;
}

.formFlex{
    font-family: 'Satoshi';
    font-style: normal;
    width: 80%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: 55% 45%;
}

.paymentForm{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 7% 5%;
}

.radioDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radioContainer{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radioContainer span{
    font-weight: 500;
    font-size: 22px;
    color: #292929;
    transform: translateY(10%);
    padding:  0 0 0 0;
}

.walletImgs{
    display: block;
}

.walletImgsMobile{
    display: none;
}

.connect{
    width: 65%;
    margin: 2% auto 5% auto;
    font-weight: 400;
    font-size: 20px;
    color: #616161;
}

.inputContainer{
    margin: 0 0 5% 0;
}

.inputContainer label, .inputContainerFlex label{
    font-weight: 400;
    font-size: 21px;
    line-height: 35px;
    color: #888888;
}

.inputContainer input, .inputContainerFlex input{
    background: #F2F2F2;
    border: 0.5px solid #747474;
    border-radius: 10px;
    width: 97%;
    height: 50px;
    margin: 2% 0 0 0;
    outline: none;
    padding: 0 0 0 3%;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #888888;
}

.inputContainerFlex input{
    width: 100%;
}

.key{
    position: relative;
}

.keyImg{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.inputContainerFlex{
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    width: 100%;
}

.checkboxContainer{
    margin: 10% 0 0 0;
}

.checkboxContainer span{
    padding: 0 0 0 2%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #747474;
}

.confirmBtn{
    background: #3341C1;
    border-radius: 4px;
    width: 100%;
    height: 80px;
    margin: 10% 0 1% 0;
    border: 0.5px solid #3341C1;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    cursor: pointer;
}

.summaryContainer{
    padding: 3% 0 0 5%;
    display: block;
}

.summary{
    font-weight: 500;
    font-size: 25px;
    color: #292929;
}

.walletDetails{
    margin: 5% 0 0 0;
    padding: 5% 0;
    border-top: 0.1px solid #747474;
    border-bottom: 0.1px solid #747474;
}

.metamask{
    font-weight: 400;
    font-size: 22px;
    line-height: 157.6%;
    color: #292929;
    margin: 0 0 2% 0;
}

.walletDetails span{
    font-weight: 400;
    font-size: 19px;
    line-height: 157.6%;
    color: #616161;
}

.expectedArrival{
    font-weight: 400;
    font-size: 20px;
    color: #292929;
    padding: 5% 0;
    border-bottom: 0.1px solid #747474;
}

/* ///////////////delivery is successfull ///////////////////////////////////// */
.successContainer{
    position: relative;
    font-family: 'Satoshi';
    font-style: normal;
}

.successSubContainer{
    text-align: center;
    padding: 5% 0 2% 0;
}

.successNote{
    font-weight: 500;
    font-size: 38px;
    color: #000000;
}

.successSubNote{
    font-weight: 400;
    font-size: 28px;
    padding: 1% 0 0 0;
    color: #000000;
}

.ellipse1{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ellipse2{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* ////successfull delivery for mobile ////// */
@media only screen and (max-width: 1000px) {
    .methodFlex{
        display: block;
        width: 96%;
    }

    .paymentMethod{
        display: none;
    }

    .secureFlex{
        width: 100%;
        display: block;
    }

    .secure{
        padding: 0 0 0 5%;
        font-size: 17px;
    }

    .formFlex{
        width: 96%;
        display: block;
    }

    .paymentForm{
        box-shadow: none;
        border-radius: none;
        padding: 5% 0;
    }

    .radioDiv{
        display: block;
        width: 100%;
    }

    .radioContainer{
        width: 61%;
        display: block;
        text-align: left;
    }

    .radioContainer span{
        font-size: 20px;
        padding: 0 0 0 5%;
    }

    .walletImgs{
        display: none;
    }

    .walletImgsMobile{
        display: block;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0 5% 0;
    }

    .connect{
        width: 100%;
        margin: 5% auto;
        font-size: 16px;
    }

    .inputContainer label, .inputContainerFlex label{
        font-size: 18px;
    }

    .inputContainerFlex{
        display: block;
    }

    .inputContainerFlex input{
        width: 97%;
        margin: 2% 0 5% 0;
    }

    .confirmBtnContainer{
        text-align: center;
    }

     .confirmBtn{
        width: 80%;
        height: 56px;
        margin: 10% auto 5% auto;
        border: 0.5px solid #3341C1;
       font-size: 18px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .summaryContainer{
        display: none;
    }

    .successSubContainer{
        text-align: center;
        padding: 20% 0 2% 0;
    }
    .ellipse1{
        display: none;
    }

    .ellipse2{
        display: none;
    }

    .successNote{
        padding: 10% 0 3% 0;
        font-size: 17px;
        text-align: center;
    }

    .successImage{
        width: 270px;
        height: 240px;
    }

    .successSubNote{
        font-size: 14px;
        color: #000000;
    }

    .lightgreen, .purple, .orange{
        width: 45px;
        height: 50px;
        border-radius: 50%;
        background-color: #006CA2;
        filter: blur(40px);
        position: absolute;
        top: 30%;
        left: 0;
    }

    .purple{
        width: 70px;
        height: 75px;
        border-radius: 50%;
        top: 20%;
        filter: blur(25px);
        left: 60%;
        background: #9B62EC;
        position: absolute;
    }

    .orange{
        position: absolute;
        width: 70px;
        height: 75px;
        border-radius: 50%;
        top: 64%;
        filter: blur(35px);
        left: 75%;
        background: #E27625;;
        
    }
}